.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:100;
}


.transparent{
    -fx-background-color: rgba(0,0,0,0);
}


.search-button{
    -fx-background-color:#828282;
    -fx-background-radius:30;
}

.right-bar{
    -fx-background-color:#D3D3D3;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
}


.chosen-game-card{
    -fx-background-color:#F16C31;
    -fx-background-radius:30;
}

.add-btn{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:100;
}

.available-games-card{
    -fx-background-color:#D3D3D3;
    -fx-background-radius:30;
}

.available-onlnie-card{
    -fx-background-color:#BAEAC3;
    -fx-background-radius:30;
}

.item-game{
     -fx-background-color:#FFFFFF;
    -fx-background-radius:30;
}
